# backend.hcl.example — Root Level
# Copy this file to backend.hcl and fill in values. NEVER commit backend.hcl.

bucket                      = "dm-terraform-state"
key                         = "dev/terraform.tfstate"
region                      = "me-jeddah-1"
endpoint                    = "https://axkjllkftxfz.compat.objectstorage.me-jeddah-1.oraclecloud.com"
shared_credentials_file     = ".oci-s3-credentials"
skip_region_validation      = true
skip_credentials_validation = true
skip_metadata_api_check     = true
force_path_style            = true
