# terraform.tfvars.example — Root Level

tenancy_ocid     = "ocid1.tenancy.oc1..aaaaaaaaats3vpt43eyb7d6djyot4nzy4d7qqe4ajiwr2vnn2rbffcdo34nq"
user_ocid        = "ocid1.user.oc1..aaaaaaaaXXXXXX"
fingerprint      = "e5:c1:e6:4d:cb:dd:84:46:91:68:4e:cc:97:dd:f0:c5"
private_key_path = "~/.oci/oci_api_key.pem"
region           = "me-jeddah-1"

compartment_id = "ocid1.compartment.oc1..aaaaaaaafqtm2ncck55cuafnypwinggayfapkgvy6lsbz3yhsvisvbdl5rjq"

environment = "dev"

object_storage_namespace = "axkjllkftxfz"
availability_domain      = "oXVt:ME-JEDDAH-1-AD-1"
node_image_id            = "ocid1.image.oc1.me-jeddah-1.aaaaaaaahdp6j4yf7assbi5kknzogwc4u32bsr6vehtitxfsatnrjw6nrynq"

db_admin_password = "CHANGE_ME_Str0ng!P@ss"
